:root {
  --bg-color-gradient: linear-gradient(
    90deg,
    rgba(135, 131, 252, 1) 0%,
    rgba(85, 83, 167, 1) 52%,
    rgba(59, 56, 147, 1) 100%
  );
  --main-color: #f1e5f0;
  --accent-color: #5753a3;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(
    circle,
    #646464e6 0%,
    #363636e6 100%
  );
  --little-white: #fefefe;
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: var(--bg-color-gradient);
}
ul {
  list-style: none;
}
li {
  cursor: pointer;
}
button {
  cursor: pointer;
  border: 0;
  padding: 1em;
  background: transparent;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-color: white;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  padding: 1rem;
}
.buttons {
  display: flex;
}
.buttonItem {
  background-color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.document {
  height: 100%;
  overflow-y: auto;
  background-color: var(--little-white);
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}
.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--bg-accent-color);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--accent-color);
}
.footer {
  padding: 1rem;
  background-color: var(--main-color);
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: var(--document-bg-color);
}
.dialogContainer {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  width: 32rem;
  background-color: var(--accent-color);
}
.close {
  align-self: end;
  color: white;
}
.dialogBody {
  display: flex;
  flex-direction: column;
}
input {
  padding: 0.5rem;
  margin: 0.5rem 1rem 1rem 0;
}

.dialogSubmit {
  padding: 0.5rem;
  margin: 0 1rem;
  align-self: end;
  background-color: var(--main-color);
}
